<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latinos in MA</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">

    <!--Vega Lite-->
    <script src="https://cdn.jsdelivr.net/npm/vega@5.25.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.16.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.22.2"></script>

    <!--GSAP-->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
</head>
<body>
    
    <!--Title-->
    <div class="title-container">
        <div class="left">
            <h1 class="title-text">
                Exploring the Latino Labor Migration in Massachusetts
            </h1>
            <img style="width: 40%" src="../imgs/heart.png">
        </div>
        <div class="right">
            <img class="title-img" src="../imgs/title-img.png">
            <br>
            <img class="plus-img" src="../imgs/plus.png">
            <br>
            <img class="ma-state-img" src="../imgs/MA.png">
        </div>
    </div>

    <!--Latino Population Growth in MA-->
    <div class="pop-growth-container">
        <h3 class="pop-growth-text">
            <span style="color: #EFB11D">MA</span> has witnessed a 
            <span style="text-decoration: underline; color: #EFB11D">significant population growth of Latinos</span>, 
            with an percent change increase of <span style="text-decoration: underline; color: #EFB11D">44.4%</span> from 2010 to 2022.
        </h3>
        <div id="pop-growth-graph"></div>
        <h4 class="pop-growth-subtext">
            But, why is this? &#x1f914;
        </h4>
    </div>

    <!--Latino Migration Map-->
    <div class="map-container">
        <h3 class="map-text">
            This is because Latinos recognized better work opportunities 
            and environment to strive for success. <br><br>Here is a map visualization of MA, 
            showing the Latino population in each county.
        </h3>
        <iframe class="map" src="../imgs/map.html" width="1000" height="500"></iframe>
    </div>

    <!--Immigrants Coming into MA-->
    <div class="immigration-ma-container">
        <h3 class="immigration-ma-text">
            We can also see that there is a great <span style="color: #EFB11D; text-decoration: underline">percent increase</span> in immigrants
            coming into MA, from 1990 to 2022.
        </h3>
        <div class="donuts">
            <div id="immigration-ma-donut1"></div>
            <div id="immigration-ma-donut2"></div>
        </div>
    </div>

    <!--Immigration Percentage by Region-->
    <div class="immigration-pctg-region-container">
        <div class="left">
            <h3 class="immigration-pctg-region-text">
                And <span style="text-decoration: underline; color: #EFB11D">40.9%</span> of those immigrants correspond to those born in 
                <span style="color: #EFB11D">Latin America</span>, as of 2022.
            </h3>
        </div>
        <div class="right">
            <div id="immigration-pctg-region-chart"></div>
        </div>
    </div>

    <!--Immigration Percentage by LATAM countries-->
    <div class="immigration-pctg-region-latam-container">
        <h3 class="immigration-pctg-region-latam-text">
            And, from the top 10 countries that immigrate into MA, <br> <span style="color: #EFB11D">Dominican Republic,
            Haiti, El Salvador, Colombia, and Brazil</span> are mentioned.
        </h3>
        <div id="immigration-pctg-region-latam-chart"></div>
    </div>

    <!--Workforce-->
    <div class="workforce-container">
        <h3 class="workforce-text">
            In terms of <span style="text-decoration: underline; color: #EFB11D">workforce</span>, over <span style="text-decoration: underline; color: #EFB11D">63% of Latinos</span> work in 
            blue collar occupations, construction, healthcare, agriculture, and many more.
        </h3>
        
        <div id="workforce-donut"></div>
        <div class="workforce-donuts">
            <div id="workforce-donut1"></div>
            <div id="workforce-donut2"></div>
            <div id="workforce-donut3"></div>
            <div id="workforce-donut4"></div>
            <div id="workforce-donut5"></div>
            <div id="workforce-donut6"></div>
            <div id="workforce-donut7"></div>
        </div>
    </div>

    <!--Conclusion-->
    <div class="conclusion-container">
        <p class="conclusion-text">
            It's important to recognize the influence of Latinos in the state of MA.
            There are more foreign-born and U.S.-born Latinos in recent years, and the population
            is expected to continue growing, as well as educational attainment, success in 
            STEM-related fields, healthcare, and many more important areas. It's important to recognize that
            MA is advancing rapidly, and Boston is a living testimony of that growth, as it has become 
            more culturally diverse. 
        </p>
        <div class="conclusion-imgs">
            <img class="conclusion-img1" src="../imgs/latino1.png">
            <img class="conclusion-img2" src="../imgs/latino2.png">
            <img class="conclusion-img3" src="../imgs/latino3.png">
        </div>
    </div>

    <!--Sources-->
    <div class="sources-container">
        <h3 class="sources-text">
            <span style="text-decoration: underline">Sources:</span>
        </h3>
        <ul class="sources-list">
            <li class="source">PlaygroundAI: AI-generated images</li>
            <li class="source">American Immigration Council</li>
            <li class="source">Census Gov.</li>
            <li class="source">Migration Policy Institute</li>
            <li class="source">The Importance of Immigrants to Boston's Continued Prosperity, by Alvaro Lima</li>
        </ul>
        <br><br><br><br><br>
    </div>

</body>
    <script src="app.js"></script>
    <script src="../vega-lite/ma_population.js"></script>
    <script src="../vega-lite/donut_chart.js"></script>
    <script src="../vega-lite/immigration_by_region.js"></script>
    <script src="../vega-lite/immigration_by_region_latam.js"></script>
    <script src="../vega-lite/donut_charts_workforce.js"></script>
</html>
