<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latinos in MA</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">

     <!--GSAP-->
     <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
</head>
<body>
    
    <!--Title-->
    <div class="title-container">
        <div class="left">
            <h1 class="title-text">
                Exploring the Latino Labor Migration in Massachusetts
            </h1>
        </div>
        <div class="right">
            <img class="title-img" src="/imgs/title-img.png">
            <br>
            <img class="plus-img" src="/imgs/plus.png">
            <br>
            <img class="ma-state-img" src="/imgs/MA.png">
        </div>
    </div>

    <!--Latino Population Growth in MA-->
    <div class="pop-growth-container">
        <h3 class="pop-growth-text">
            <span style="text-decoration: underline;">MA</span> has witnessed a 
            <span style="text-decoration: underline;">significant population growth</span>, 
            with Hispanic/Latino individuals comprising 13.1%
            of the total state population as of 2023...
        </h3>
        <div class="pop-growth-graph">
            <h4 class="pop-growth-subtext">
                But, why is this? &#x1f914;
            </h4>
        </div>
    </div>

    <!--Latino Migration Map-->
    <div class="map-container">
        <div class="left">
            <h3 class="map-text">
                This is because Latinos recognized better work opportunities 
                and environment to strive for success, especially in the late 1900s
            </h3>
        </div>
        <div class="right">
            <div class="map">
            </div>
        </div>
    </div>

    <!--Immigrants Coming into MA-->
    <div class="immigration-ma-container">
        <h3 class="immigration-ma-text">
            We can also see that there is a great percent increase in immigrants
            coming into MA, from 1990 to 2022.
        </h3>
        <div class="immigration-ma-donut-container">
            <div class="immigration-ma-donut1"></div>
            <div class="immigration-ma-donut2"></div>
        </div>
    </div>

    <!--Immigration Percentage by Region-->
    <div class="immigration-pctg-region-container">
        <div class="left">
            <h3 class="immigration-pctg-region-text">
                And 40.9% of those immigrants correspond to those born in Latin America, as of 2023.
            </h3>
        </div>
        <div class="right">
            
        </div>
    </div>

    <!--Immigration Percentage by LATAM countries-->
    <div class="immigration-pctg-latam-container">
        <div class="left">
            <h3 class="immigration-latam-region-text">
                Breaking it down even further, we have the immigration 
                percentages per country of origin in Latin America.
            </h3>
        </div>
        <div class="right">
            
        </div>
    </div>
    
    <h3 class="socio-economic-text">
        We saw the growth in population in MA, especially from Latinos. 
        Let's also explore the impact in the socio-economic aspect
    </h3>

    <!---->

    <!--Workforce-->
    <div class="workforce-container">
        <h3 class="workforce-text">
            In terms of workforce, over 63% of Latinos work in Building & Grounds, 
        </h3>
        <div class="workforce-graph">
        </div>
    </div>

    <!--Conclusion-->
    <div class="conclusion-container">
        <p class="conclusion-text">
            It's important to recognize the influence of Latinos in the state of MA.
            There are more foreign-born and U.S.-born Latinos in recent years, and the population
            is expected to continue growing, as well as educational attainment, success in 
            STEM-related fields, healthcare, and many more essential areas. It's important to recognize that
            MA is advancing rapidly, and Boston is a living testimony of that growth, as it has become 
            more culturally diverse. 
        </p>
        <div class="conclusion-imgs">
            <img class="conclusion-img1" src="/imgs/latino1.png">
            <img class="conclusion-img2" src="/imgs/latino2.png">
            <img class="conclusion-img3" src="/imgs/latino3.png">
        </div>
    </div>

    <!--Sources-->
    <div class="sources-container">
        <h3 class="sources-text">
            <span style="text-decoration: underline">Sources:</span>
        </h3>
        <ul class="sources-list">
            <li class="source"></li>
            <li class="source"></li>
            <li class="source"></li>
            <li class="source"></li>
            <li class="source"></li>
            <li class="source"></li>
            <li class="source"></li>
            <li class="source"></li>
        </ul>
    </div>

</body>
    <script src="app.js"></script>
</html>
